.main{
    display: grid;
    gap: 25px;
    grid-template-areas: 
    'nav nav nav nav nav nav'
    'null map map contact contact null'
    'null map map contact contact null';

}
.navBar{
    grid-area: nav;
}

.img{
    grid-area: map;
}
.forms{
    grid-area: contact;
} 
.restuant{
    width: 100px;
    height: 250px;
}
