body{
    background-image: url(../img/burger.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.header{
    font-style: oblique;
}
.links{
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.buttons{
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
button{
    border-radius: 10px;
}