body{
    background-image: url(../img/burger.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    color: white;
    display: grid;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}